.CustomUploadImageContainer {
  margin-bottom: 2rem;

  .dragContainer {
    width: 100%;
    min-height: 200px;
    border: 2px dashed $primary;
    border-radius: 8px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1.3rem auto;

    .inner-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      .preview-image {
        width: 80px;
        height: auto;
        margin-bottom: 1rem;
        border: 2px solid $lightGray;
      }

      .upload-file-icon {
        opacity: 0.8;
        font-size: 4rem;
        transition: 0.5s;
        align-self: center;
      }

      .uploaded {
        font-size: $heading;
      }

      .upload-txt {
        color: $charcoal;
      }

      .message {
        font-size: 0.8rem;
        color: $lightGray;
      }
    }

    &.active {
      border: 3px solid $primary;
      cursor: copy;
      background-color: #d4c6f5;

      .inner-box {
        .upload-file-icon {
          opacity: 1;
          font-size: $heading * 1.2;
        }
      }
    }
  }
}
