// colors

$primary: #613db8;
$primaryBg: #613db8;
$secondary: #3e363f;
$yellow: #ffd953;
$fadeYellow: #fed84c;
$yellowBg: #fed84c21;
$white: #ffffff;
$fadeWhite: #fcf6e1;
$fadeGray: #767676;
$lightGray: #a2a2a3;
$lightbg: #f3f5f7;
$blue: #4e84ce;
$charcoal: #36454f;
$bg: #f6f8fe;

$heading: 2.5rem;
$subheading: 2rem;
$normal: 1rem;
$small: 0.7rem;

// font weight

$bold: 700;
$semibold: 600;
$normalbold: 400;
